:root {
  --img-size: 120px;
  --border-size: 2px;
  --base-green: #2dde00;
  --base-black: #000;
  --base-gray: #808080;
  --transitionTime: 0.5s;
}

body {
  padding: 5vw;
  color: var(--base-gray);
  user-select: none;
  font-family: monospace;

  .container {
    padding: 20px;
    background-color: #fafafa;
    -webkit-box-shadow: 0 0 20px 12px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 0 20px 12px rgba(0,0,0,0.23);
    box-shadow: 0 0 20px 12px rgba(0,0,0,0.23);


    .header {
      .profession {
        color: var(--base-green);
      }

      .foto_profile {
        width: var(--img-size);
        height: var(--img-size);
        border-radius: var(--img-size);
        background-position: center;
      }
    }
  }

  .content {
    margin-top: 60px;
    .sub_header{
      margin-top: 20px;

      ul {
        //display: none;

        li {
          animation: fadeIn 1s;
          transition: var(--transitionTime);

          span.date {
            color: var(--base-green);
          }

          a {
            text-decoration: none;
          }
        }
      }

      .text-uppercase {
        color: var(--base-green);
        border-bottom: var(--base-gray) solid var(--border-size);
        transition: var(--transitionTime);
      }
    }
  }

  a {
    color: var(--base-black);

    &:hover {
      text-underline: none;
      color: var(--base-green);
      transition: var(--transitionTime);
    }
  }

  ul {
    list-style-type: none;
  }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

